@import "tailwindcss";

@theme {
  --color-background: #0e1116;
  --color-surface: #161b22;
  --font-geist: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-[#0e1116] text-zinc-300 font-sans overflow-hidden select-none;
  }
}
